@rem ***************************************************************************
@rem * Copyright 2011-2012 Regshot Team
@rem *
@rem * This file is part of Regshot.
@rem *
@rem * Regshot is free software: you can redistribute it and/or modify
@rem * it under the terms of the GNU Lesser General Public License as published by
@rem * the Free Software Foundation, either version 2.1 of the License, or
@rem * (at your option) any later version.
@rem *
@rem * Regshot is distributed in the hope that it will be useful,
@rem * but WITHOUT ANY WARRANTY; without even the implied warranty of
@rem * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
@rem * GNU Lesser General Public License for more details.
@rem *
@rem * You should have received a copy of the GNU Lesser General Public License
@rem * along with Regshot.  If not, see <http://www.gnu.org/licenses/>.
@rem *
@rem *
@rem *  wdk_prepare.bat.tmpl
@rem *    Template for wdk_prepare.bat to set your WDK dir and extra flags.
@rem *
@rem ***************************************************************************

set WDKBASEDIR=C:\WinDDK\7600.16385.1
set EXTRA_CFLAGS=
set EXTRA_RFLAGS=
set EXTRA_LDLIBS=
set EXTRA_LDFLAGS=
